* {
    padding: 0;
    margin: 0;
    font-family: var(--font-style);

}

:root {
    --font-style: 'Kanit', sans-serif;
}

.navbar {
    height: 15vh;
    font-size: medium;
    padding: 0 5%;
}

.navbar .d-flex button.btn  {
    background-color: #00ba95;
    color: white !important;
    padding: 1vh;
    border-radius: 10px;
}

.navbar .d-flex button.btn:hover {
    background-color: #02987a;
}

.navbar button,
.footer button
{
font-family: var(--font-style);
text-decoration: none;
text-transform: uppercase;
margin: 20px;
color: white;
}

.section {
    background-color: rgba(128, 128, 128, 0.181);
    font-size: large;
    color: rgba(0, 0, 0, 0.5);
}

.categories .category-card {
    background-color: white;
    border-radius: 2%;
}

.products .product-card:hover,
.categories .category-card:hover {
    transform: translateY(-5px);
}

.product-img {
    border-radius: 2% 2% 0 0;
    height: 60%;
    width: 100%;
}

.product-info {
    padding: 0 0 5% 5%;
    font-size: small;
    border-radius: 2%;
}

a.section-btn {
    text-decoration: none;
    font-size: medium;
    color: rgba(0, 17, 255, 0.669);
}

a.section-btn:hover {
    text-decoration: underline;
}

.dot {
    height: 60px;
    width: 60px;
    background-color: #0061f2;
    border-radius: 100%;
    margin: 10px auto 0 ;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 15px;
    position: relative;
    top: 10px;
}

.category-info {
    text-align: center;
    margin: 20px auto;
    font-size: medium;
}

.category-shadow {
    height: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.city a {
    text-decoration: none;
    color: #0061f2;
    text-align: start;
}

.city a:hover {
    text-decoration: underline;
}
